---
import { getCollection } from "astro:content";
import { initializeApp } from 'firebase-admin/app';

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = await getCollection("posts");
---

<Layout title="Syncline | Homepage">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8 ">
      <div class="flex items-center gap-4 w-30">
        <img src="pfp.png" alt="pfp" class="w-16 rounded-full shadow-neon"/>
        <h1 class="ml-2 text-4xl text-neutral-100 letter-spacing-2 tracking-wide font-bold font-lexend">
          {presentation.title}
          <p class="text-gray-800 tracking-wide font-ubuntu text-lg">aka kaizen</p>
        </h1>
        
      </div>
      <h2 class ="max-w-[60ch] leading-6 font-semibold text-xl font-ubuntu text-gray-600"
        set:html={convertAsteriskToStrongTag(presentation.work)}
      />
      <h2 
        class="max-w-[60ch] leading-6 font-lexend text-lg"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />
      <SocialLinks />
  </article>
  

    <article class="flex flex-col gap-7">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-xl tracking-wide font-lexend text-neutral-100">Latest on Blog</h3>
        <Link href="/posts" label="Sign in for more" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
      <p class="font-lexend">To view all posts. Sign in.</p>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-xl text-neutral-100 tracking-wide font-lexend">
          Selected Projects ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-5">
      <header class="flex w-full flex-row justify-between">
        <h3 class="text-lg font-lexend tracking-wide text-neutral-100">Get in touch</h3>
      </header>
      <p class="font-medium">
         Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
